{% comment %}
  Contact page template
  Filename: templates/page.contact.liquid
  Used for: Contact page with form and map
{% endcomment %}

<div class="contact-page animate-fade-in">
  {% section 'contact-page' %}
</div>
