{% comment %}
  FAQ page template
  Filename: templates/page.faq.liquid
  Used for: Frequently Asked Questions page
{% endcomment %}

<div class="faq-page animate-fade-in">
  {% section 'faq-page' %}
</div>
